flows/shiny_rocks_produce/produce_data.yml
id: produce_data
namespace: shiny_rocks_produce

tasks:
  - id: working_dir
    type: io.kestra.core.tasks.flows.WorkingDirectory
    tasks:

      - id: clone
        type: io.kestra.plugin.git.Clone
        url: https://github.com/Ben8t/shiny_rocks

      - id: python
        type: io.kestra.plugin.scripts.python.Commands
        warningOnStdErr: false
        beforeCommands:
          - pip install -r dataset/produce/requirements.txt
        commands:
          - python dataset/produce/main.py --date {{ schedule.date ?? now() | date("yyyy-MM-dd")}}

      - id: file_outputs
        type: io.kestra.core.tasks.storages.LocalFiles
        outputs:
          - '*.csv'

  - id: parallel
    type: io.kestra.core.tasks.flows.EachParallel
    value: "{{ outputs.file_outputs.uris | jq('.[]') }}"
    tasks:

      - id: gcs_upload
        type: io.kestra.plugin.gcp.gcs.Upload
        serviceAccount: "{{ secret('gcp_creds')}}"
        from: '{{ taskrun.value }}'
        to: "gs://shiny_rocks/app_log/{{ schedule.date ?? now() | date('yyyy-MM-dd')}}/{{taskrun.value | substringAfterLast('/')}}"


triggers:
  - id: schedule2
    type: io.kestra.core.models.triggers.types.Schedule
    cron: "0 10 * * *"
    backfill:
      start: 2023-07-10T10:00:00Z

