flows/shiny_rocks/load_payments_bigquery.yml
id: load_payments_bigquery
namespace: shiny_rocks
description: |
  When data are generated upstream, this flow ingest the `payments` data into Google Cloud Storage and BigQuery.

labels:
  tag: load

inputs:
  - name: payments_data
    type: URI

  - name: payment_date
    type: DATE

tasks:

  - id: extract
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ inputs.payments_data }}"
    to: gs://shiny_rocks/app_log/payments/{{ inputs.payment_date }}/payments.csv

  - id: load
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    from: 
      - "{{ outputs.extract.uri }}"
    projectId: "kestra-dev"
    destinationTable: "shiny_rocks.payments"
    format: CSV
    autodetect: true
    csvOptions:
      fieldDelimiter: ","
    timePartitioningField: "order_date"

triggers:

  - id: get_data
    type: io.kestra.core.models.triggers.types.Flow
    inputs:
      payments_data: "{{ outputs.python.outputFiles['payments.csv'] }}"
      payment_date: "{{ outputs.run_date.value }}"
    conditions:
      - type: io.kestra.core.models.conditions.types.ExecutionFlowCondition
        namespace: shiny_rocks
        flowId: produce_data
      - type: io.kestra.core.models.conditions.types.ExecutionStatusCondition
        in:
          - SUCCESS